<header class="header">
  <div class="container header-content">

    <!-- LEFT: LOGO -->
     <a href="/tfcwebsite/index.html" class="logo">
      <img src="/tfcwebsite/assets/images/logo.png">
    </a>


    <!-- CENTRE: NAV -->
    <nav class="nav-links">
      <a href="/tfcwebsite/index.html">Home</a>
      <a href="/tfcwebsite/about.html">About</a>
      <a href="/tfcwebsite/services.html">Services</a>
      <a href="/tfcwebsite/contact.html">Contact</a>
    </nav>

    <!-- RIGHT: ACTIONS -->
    <div class="header-actions">

      <a href="tel:1300216819" class="header-icon">
        <img src="/tfcwebsite/assets/images/icons/phone.svg">
      </a>

      <a href="https://www.linkedin.com/company/thefreightcollective" 
         target="_blank" 
         rel="noopener noreferrer"
         class="header-icon">
        <img src="/tfcwebsite/assets/images/icons/linkedin.svg">
      </a>

    </div>

  </div>
</header>